#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 8em;
  padding: 0.2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #64ffa2aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61fb92aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.text-field-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:15px;
}
.text-field-wrapper > .input{
  background-color: white;
  border-radius: 5px;
}
.typewrite{
  color:rgb(75, 207, 167);
  font:bold;
  font-weight: 900;
  filter: drop-shadow(0 0 2em #106279f4);
}
.btn{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap:4px;
}

.celebration-toast {
  display: flex;
  justify-content: center;
  align-items: center;
}

.celebration-toast-body {
  animation: celebrate 0.8s ease-in-out; 
}

@keyframes celebrate {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.background-video {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
}

.video {
  width: 60%;
  height: 20%;
  border-radius: 20px;
  margin-right: 5rem;
  margin-top: 2rem;
  object-fit: cover;
}
.team{
  position: absolute;
  left: 44%;
  bottom: 2%;
}