name: CI-Client && Building

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: build the client
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install modules
      run: |
        npm install
    - name: Run ESLint
      run: |
        npm run eslint